<h1>Item: <b><%= @item[:title] %> </b> </h1></br>
<h1>Price: <b><%= @item[:price] %> </b> </h1></br> 
<%= link_to 'place a review(NOTYET)', welcome_index_path%></br>
<%= link_to 'back', welcome_index_path%>
